<% content_for :page_title do -%>
  Contact dreambop
<% end %>
<div class="section">CONTACT US</div>
<div class="main-body-content">
  You can reach us online via email anytime at:<br/><br/>
  info@dreambop.com
  <br/> <br/>
  You can also reach us via phone on Monday to Friday from 8am to 8pm at the following number:
  <br/> <br/>
  (555) 555-5555
  <br/> <br/>
  Finally, you can reach us in person or by postal mail at: <br/><br/>
  dreambop.com<br/>
  123 Abc St.<br/>
  Paradise, CA 99999<br/>
</div>
