<% content_for :page_title do -%>
  The Dreambop facebook coupon
<% end %>
<div class="section">DETAILS</div>
<div class="main-body-content">
  If you click the like button on one of our products, AND leave an interesting comment about the product or dreambop, then we will give you 1&#37; off the most expensive product on your next purchase, with the max discount amount being &#36;25.00.  
  <br/>
<br/>
  Please limit 1 coupon per facebook comment per purchase, and per product page. 
</div>
<br/>
<br/>
<div class="section">HOW?</div>
<div class="main-body-content">
  All you have to do is take a <a href="http://www.google.com/search?q=take+a+screenshot">screenshot</a> of <a href="http://www.facebook.com/profile.php">your facebook page</a> where the comment exists, and send it to us at <a href="mailto:coupons@dreambop.com">coupons@dreambop.com</a>. 
  We will then credit the percent off of your purchase.
</div>
<br/>
<br/>
<div class="section">PLEASE...</div>
<div class="main-body-content">
  Please do not spam people.  Use good judgement when posting about one of our products.  Consider if others might be interested first.  We will change the rules if we find anyone abusing them. Thanks for participating.  
</div>
