<% content_for :page_title do -%>
  The Dreambop story
<% end %>
<div class="section">OUR MISSION</div>
<div class="main-body-content">
  Dreambop is a company dedicated to bringing you excellent new products with unbeatable service. This means we want to bring you a fantastic online experience that gives you superior information in an enjoyable way.
</div>
<br/>
<br/>
<div class="section">ESTABLISHED SINCE 2010</div>
<div class="main-body-content">
  Dreambop founders hail from California, and our service is brand spanking new, so try to keep up with all the cool improvements!
  Let us know if you have any ideas.
</div>
<br/>
<br/>
<div class="section">WHY ARE WE HERE?</div>
<div class="main-body-content">
  We love cool new products.  Our founders are involved in creating great new things, so we thought, why not make a site for them, but why stop there? 
  That's why we will NEVER send you unnecessary emails. And we will absolutely not give your information away to anyone for any reason.
  dreambop.com is our team's 3rd web company and we want to make it the best. 
</div>
