<% content_for :page_title do -%>
  Dreambop policies
<% end %>
<div class="section">GENERAL</div>
<div class="main-body-content">
  Dreambop will never send you unnecessary emails.<br/>
  We will never give your information away.<br/>
  <br/>
  <br/>
</div>
<div class="section">PRICING</div>
<div class="main-body-content">
  <b>LISTED PRICES</b>
  <br/>
  <br/>
  Prices listed on this website are subject to change based on the actual cost listed by our distributors.  We try to keep this info updated on a daily basis, but sometimes your orders are placed before our prices are updated. Therefore we reserve the right to cancel your order at any time if the cost of our goods rise.  We apologize in advance for this inconvenience. 
  <br/>
  <br/>
  <br/>
</div>
<div class="section">REFUND POLICY</div>
<div class="main-body-content">
    <b>RETURNS</b>
      Dreambop accepts returns at our Harrisburg, PA, and Lincoln City, OR locations only. Please contact us to know which center to return to. You must have a Return Authorization (RA) number before returning any merchandise to dreambop. Request an RA by email us or call us directly for your RA number at 530 877 2248. Be sure to note our return policies to avoid additional charges.
    <br/>
    <br/>
    <b>POLICIES</b>
    <br/>
    <br/>
      <ul>
        <li>
          DOA/defective products are returned for REPLACEMENT ONLY with the same product/model. Deviations from this policy may result in a 20% Returns Processing Service Charge.
        </li>
        <li>
          Defective product must be in original factory carton with all original packing materials
        </li>
        <li>
          The Return Authorization number must be on the shipping label, not the carton. PLEASE DO NOT WRITE ON THE CARTON.
        </li>
        <li>
          Returns must be shipped freight prepaid. Products received without an RA number, freight collect, not approved for return, or in any way not meeting the above criteria, will be refused.
        </li>
        <li>
          Return Authorization numbers are good for fourteen (14) days only. Any products returned after the expiration date will be refused.
        </li>
        <li>
          Dreambop credits based on purchase price or current price, whichever is lowest.
        </li>
      </ul>
    <br/>
    <br/>
      ANY DEVIATION FROM RETURN POLICIES WILL RESULT IN THE PRODUCT BEING RETURNED TO YOU WITH NO CREDIT ISSUED.
    <br/>
    <br/>
    <b>SPECIAL RETURNS</b>
    <br/>
      Xbox Consoles - dreambop tracks serial numbers on all consoles. Defective return window is 30 days from original dreambop invoice date. All console returns must include console, controller, software, AV cable and power cord, original box and packing. You will be billed for missing parts.
    <br/>
    <br/>
      Xbox Live - Defective return policy is 30 days from date of invoice. Xbox needs the subscription code to remove it from their system. If the subscription code is not visible when returned, you will not receive credit. All Xbox Live product must include DVD folder with visible subscription code, Xbox live communicator, and original box. Reseller will be billed for missing parts.
    <br/>
    <br/>
      Xbox Software and Accessories - We will accept defective returns up to 30 days from date of invoice. All software and accessories must be returned for same product replacement only. No credit. We reserve the right to charge 15% restocking charge if returns exceed 1%.
    <br/>
    <br/>
      PlayStation Consoles - dreambop tracks serial numbers on all consoles. Defective return window is 30 days from original invoice date. All console returns must include console, controller, software, AV cable and power cord original box and packing. You will be billed for missing parts.
    <br/>
    <br/>
      PlayStation Software and Accessories - We will accept defective returns up to 30 days from date of invoice. All software and accessories must be returned for replacement of same product only. No credit. We reserve the right to charge 15% restocking charge or refuse to issue additional RAs if returns exceed 2% of total PlayStation product.
    <br/>
    <br/>
      Nintendo Consoles - dreambop tracks serial numbers on all consoles. Defective return window is 30 days from original invoice date. All console returns must include console, controller, software, AV cable and power cord original box and packing. You will be billed for missing parts.
    <br/>
    <br/>
      Nintendo Software and Accessories - We will accept defective returns up to 30 days from date of invoice. All software and accessories must be returned for replacement of same product only. No credit. We reserve the right to charge 15% restocking charge or refuse to issue additional RAs if returns exceed 2% of total Nintendo product.
    <br/>
    <br/>
      JVC: No returns for credit on color television, Plasma, LCD TV, VCR, DVD, TV/DVD, Home Theater in a box or camcorder. Authorized service center repair only. Please contact us for the number.
    <br/>
    <br/>
      Panasonic CE: No returns for credit on video, DVD, portable DVD, LCD, plasma, color television, fax or camcorders. Authorized customer service center for repair only.  Contact us for the number.
    <br/>
    <br/>
      Toshiba: No returns for credit for TV, LCD TV, Plasma, DVD, portable DVD, VCR, DVD Recorders, Home Theater in a box, TV/VCR or TV/DVD. Authorized customer service center for repair only. Contact us for the number.
    <br/>
    <br/>
      ViewSonic: Returns limited to 30 days. Absolutely no exceptions. Serial number required.
    <br/>
    <br/>
      <b>WARRANTIES</b> - In General
    <br/>
    <br/>
      Product warranties are provided by the manufacturer. Dreambop administers the individual manufacturer warranty, which may include returning defective products to dreambop, sending products to a factory authorized repair center, or factory direct returns. Dreambop must abide by the return policies dictated by our manufacturers.
    <br/>
    <br/>
      <b>RETURN REQUEST CLAIM DEADLINES FOR DSDI PRODUCTS</b>
        <ul>
          <li>Shipment Damaged Goods: 48 Hours of Delivery Receipt (may require up to 1-3 weeks processing by carrier)</li>
          <li>Non-Defective Goods: 30 Days</li>
          <li>Defective Goods: 30 Days</li>
          <li>Mis-Shipped Goods: 10 Days</li>
        </ul>
      <b>FEES</b>
      <ul>
        <li>Defective Merchandise: No Fees with Product Replacement (subject to policy re-stock fees when product is not replaced)</li>
        <li>Non-Defective Mechandise: 15% Re-Stock Fee in Most Cases (exceptions are iTouchless (25% restock fee); PureWater 2GO (20% restock fee); Meyda (30% restock fee); Napier (25% restock fee); First Aid Only (20% restock fee); Open Air Cinema (20% restock fee))</li>
        <li>Unauthorized, Refused, and Undeliverable Returns are subject to related shipping and re-stock fees, and may be subject to $10.00 shipping carrier penalty fee.  dreambop takes possession of unclaimed, unauthorized product returns after 60 days</li>
      </ul>
      <b>Submission Process</b><br/>
        For now, please contact us via the <%= link_to 'Contact us page', {:action => :contact, :controller => :about} %>. Please allow 1-2 business days for an initial response to newly submitted claim requests. Instructions for necessary customer details are described within the ACCEPTED RETURN REQUESTS section of this policy.
    <br/>
    <br/>
    <br/>
      <b>Accepted Return Requests</b><br/>
  <br/>
  <i>Non-Defective Merchandise Allowed within 30 Days</i>:
  For delivered merchandise that involves "buyer remorse" or other non-defective or non-damaged reasons for return, dreambop will accept requests formally submitted for final approval. In order to qualify for approval, all non-defective return requests require merchandise to be in new, unused, and resellable condition as determined by dreambop and/or its affiliates. To submit an ideal non-defective return request, please describe the reason for non-defective return: ie product quality concern, purchase elsewhere, etc. ALL RETURN REQUESTS MUST BE FORMALLY SUBMITTED AND APPROVED PRIOR TO RETURN. A 15% restocking fee is required for all non-defective returns, excluding the following brand exceptions: iTouchless (25% restock fee); PureWater 2GO (20% restock fee); Meyda (30% restock fee); Napier (25% restock fee); First Aid Only (20% restock fee); Open Air Cinema (20% restock fee). Please refer to the "Prohibited Non-Defective Return Requests" to review merchandise disallowed for returns.
    <br/>
    <br/>
  <i>Defective Merchandise Allowed within 30 Days</i>:
  <br/>
  For delivered merchandise that involves manufacturer-related product defects related to design, construction, or originally intended use, dreambop will accept requests formally submitted for final approval. In order to qualify for approval, defective return requests require detailed reasons and descriptions related to the nature of said defective merchandise. To submit an ideal defective return request, please use exact details to describe the nature of the alleged defect(s): ie specific pieces/parts missing, reason or nature of improper product function, construction design/sizing, etc. Upon inspection, defective merchandise is replaced with similar merchandise and shipped to the customer at the expense of dreambop (depending upon availability). If replacement merchandise is unavailable for defects, a full refund will be promptly provided to the dreambop customer. If customer refuses to receive replacement merchandise (or product is deemed non-defective), customer will incur a restock fee based on this policy fee schedule. By default, dreambop is not responsible for inbound shipping costs related to returns, excluding costs to ship replacement/corrected merchandise to the customer. If product received on a defective claim is deemed non-defective by dreambop or its affiliates, it is the dreambop customer responsibility to cover return shipping costs. Or, the dreambop customer may elect to re-stock non-defective merchandise with corresponding re-stock fee. ALL RETURN REQUESTS MUST BE FORMALLY SUBMITTED AND APPROVED PRIOR TO RETURN.
    <br/>
    <br/>
  <i>Damaged Merchandise Allowed within 48 Hours</i>
  <br/>
  All damaged good claims must be submitted to dreambop within 48 hours of original delivery receipt. Damaged goods qualify as a result of packages being allegedly disturbed or harmed by the shipping carrier (ie UPS, Fedex, etc). These claims submitted to dreambop must be promptly filed in order to initiate the shipping claims process. Please allow between 1 to 3 weeks for damage claims to be reviewed and finalized by the shipping carrier. Required information for damage claim requests include the following: original packaging material, tracking information, end recipient contact telephone number, and details describing the nature of damage. ALL RETURN REQUESTS MUST BE FORMALLY SUBMITTED AND APPROVED PRIOR TO RETURN. 
    <br/>
    <br/>
  <i>Mis-Shipped Merchandise Allowed within 10 Days</i>
  <br/>
  All shipments involving final delivery of incorrect merchandise should be submitted to dreambop within 10 days of delivery receipt. Mis-shipments qualify as a result of deliveries for received merchandise that was not originally ordered by the dreambop customer. If mis-shipment return requests are not submitted within 10 days of delivery, claims will be treated as non-defective return requests. ALL RETURN REQUESTS MUST BE FORMALLY SUBMITTED AND APPROVED PRIOR TO RETURN. Required information for mis-shipment claim requests include the following: model number(s) ordered vs. model number(s) received, additional digital photographs will help expedite claims processing. dreambop will furnish return shipping labels for all incorrectly shipped merchandise.
  <br/>
  <br/>
  <b>PROHIBITED NON-DEFECTIVE RETURN REQUESTS</b>
  <br/>
      Custom Manufactured Goods:
      Inventory that is custom produced based on immediate order demand does not qualify for non-defective returns. The following brands are designated as "custom manufactured" and do not qualify for non-defective return: Pro Tour Memorabilia, limited GT Styling merchandise, hand-signed Upper Deck merchandise, Superstar Greetings, and limited ATN merchandise. Please refer to the "Important Notes" section for more details.
  <br/>
      More than 30 Days after Delivery Receipt
      All non-defective return requests submitted after 30 days will be subject to denial by dreambop
  <br/>
  <br/>
  <b>WARRANTY COVERAGE</b>
  <br/>
  All return requests submitted after 30 days by dreambop customer are defined as Manufacturer Warranty claims. Warranty claims must be submitted directly by the end consumer to the product manufacturer for additional support. Warranty periods vary by manufacturer; most non-custom manufactured merchandise includes a One Year parts/labor warranty. Contact dreambop for further manufacturer warranty coverage details as needed.
  <br/>
  <br/>
    <br/>
</div>
<div class="section">SHIPPING POLICY</div>
<div class="main-body-content">
    Delivery time and shipment availability may vary from one product to the next. However, the vast majority of our merchandise is shipped via UPS Ground within THREE TO FIVE BUSINESS DAYS of ORDER PLACEMENT.
  <br/>
  <br/>
  <b>Costs</b>
  Shipping costs are retrieved by placing the item in the shopping cart and proceeding to checkout. You do not need to actually place an order during this step. The shipping prices are for the 48 contiguous United States. Alaska and Hawaii need to be calculated seperately.  By default, we charge at or below UPS Ground rate fees based on product weight. You may verify this by visiting <a href="http://ups.com">http://www.ups.com</a>. Certain products may have shipping costs that are calculated via "flat rate".
  <br/>
  <br/>
  <b>Signature required deliveries</b>
  For certain product lines, dreambop requires signature on delivery to minimize potential delivery fraud. If you wave the signature required for order delivery, we takes no financial responsibility for the "lost package liability". If a signature waiver is required, we will need said statement in writing. It can also be stated within order comments for any specific transaction. Verbal notification will not be accepted. We currently require signatures for the following manufacturer line(s): Alpen 
  <b>Outside the US</b><br/>
    We cannot ship individual quantities outside the United States. Merchandise exported outside the United States will require a minimum order quantity (inquire for minimums on a per-product basis).
We will NOT ship to the following countries under any circumstances: Indonesia, Nigera, and Libya.
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
</div>
<div class="section">CANCELLATIONS</div>
  <div class="main-body-content">
     Order cancellations of any kind related to E-commerce design services may not be cancelled after 24 hours of placing an order.
  </div>
