.product-price {
  padding-right: 14px;
  text-align: right;
  padding-top: 8px;
}
.product-title, .product-title a, .product-title a:visited {
  color: #98988c;
  font-size: 0.83em;
  padding-top: 4px;
}
.section-footer {
  text-align: right;
  padding-right: 10px;
  padding-top: 25px;
  font-size: 0.7em;
  text-transform: uppercase;
}
.products-container {
  padding-left: 0px;
}
.product {
  padding-left: 20px;
  float: left;
  width: 175px;
  height: 200px;
  padding-top: 10px;
}
#page_links {
  padding-top: 37px;
  text-align: center;
}
